<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">


<html>

<head>
    <link rel="stylesheet" type="text/css" href="csstest.css">
    <link rel="stylesheet" type="text/css" href="map.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <title>Welcome to PollCast</title>
</head>

<body>
    <div id="wrapper">
    <div class="title-bar">
        <a href="/" class="mainlogo">P O L L C A S T</a>
    </div>

    <br>

    <div class="page-content">
        <p id="krText">위 지도는 각 광역자치단체에서 유리한 정당의 색깔을 나타냅니다. 각 색깔이 어떤 정당을 나타내는지는 위 범례를 참고하시기 바랍니다.</p>
        <br>
        <p id="krText">아래 그래프는 정당별 광역자치단체의 예상 승리 수를 보여줍니다. 가장 확률이 높은 결과는 자유한국당이 2개의 광역자치단체에서, 더불어민주당은 14개의 광역자지단체에서 승리하는 것입니다. 그러나 가장 가능성이 높다고 해서 더불어민주당이 14개의 광역자치단체를 이기는 것이 확실한 것은 아니며, 16개를 이기거나 12개를 이길 가능성도 존재하므로 아래 그래프를 해석할 때 유의하시기 바랍니다.</p>


    </div>
    <footer>
    <div class="footer">
        <div class="bottom-links">
        </div>
    </div>
    </footer>
    </div>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="main.js"></script>

</body>

</html>
