<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>
	<title>Developers of PollCast</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<body>
	<div id="wrapper">
	<div class="title-bar">
		<a href="/" class="mainlogo"> P O L L C A S T </a>
	</div>

	<div class="page-content developers">
		<img src="/developers.png" style="width: 90%">
	</div>

	<footer>
        <div class="bottom-links">
            <a href="/about" class="addPages"><p>About</p></a>
            <a href="/developers" class="addPages"><p>Developers</p></a>
        </div>
    </footer>
	</div>
</body>	

</html>